package {PKG}

// USAGE: 
// replace {PKG} with the package name
// replace {STRUCT} with the main actor struct name.


import (
	"fmt"

	"github.com/ecumeurs/upsilontools/tools/actor"
	"github.com/ecumeurs/upsilontools/tools/messagequeue/message"
	"github.com/google/uuid"
)

type {STRUCT} struct {
	*actor.Actor
}

// New
func New() *{STRUCT} {
	ctrl := &{STRUCT}{
		Actor: actor.New("{STRUCT}"),
	}

	// ctrl.act.AddMethod(<method struct>, <method handler>, <method validator>)
	// ctrl.act.AddReply(<reply struct>, <reply handler>, <reply validator>)
	ctrl.Start()

	return ctrl
}
